.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 .image, .imageSaved {
   display: flex;
   flex-direction: column;
   width: 28%;
   margin-bottom: 30px;
 }
 .imageSaved::after {
   content: 'saved';
 }
.images_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}